@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*, *:before, *:after {
  box-sizing: border-box;
}

/* body {
  background: #43423E;
} */

.link {
  text-decoration: none;
  color: #5C7FB8
}

.link:hover {
  text-decoration: underline;
}

.movie_card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #fff;
  padding: 40px 0;

}

.container {
  margin: 0 auto;
  width: 60%;
  height: 80vh;
  background: #6C757D;
  border-radius: 5px;
  position: relative;
  color: #fff;
  border-radius: 5%;
}

.hero {
  height: 342px;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;

}


.coverImage {

  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  /* background:red; */
  z-index: 0;
  transform: skewY(-2.2deg);
  transform-origin: 0 0;

  /*chrome antialias fix */
  -webkit-backface-visibility: hidden;

}

.coverImage img {
  width: 100%;
  height: 100%;

}

.details {
  padding: 13rem 0 0 14rem;
  height: 14rem;
  text-align: center;
}

.title1 {
  color: #C7C1BA;
  font-size: 2.2rem;
  /* margin: 2.5rem 0 0.5rem 0; */
  
  margin: 1rem;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  line-height: 2rem;
  width: 100%;
  text-shadow: 2px 2px 3px #000;
  height: 100%;
}

span {
  position: absolute;
  top: 3px;
  margin-left: 12px;
  /* background: teal; */
  border-radius: 5px;
  /* color: #544C21; */
  font-size: 14px;
  padding: 0px 4px;

}


.title2 {
  height: 40%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;


  align-items: center;
}

.title2_text {
  text-shadow: 1px 1px 1px #000;
  /* color: hsl(0, 100%, 64%); */
  color: red;
  font-size: 1.2rem;
  font-weight: 300;
  font-weight: 400;
  /* margin-bottom: 5rem; */
}


.vote {
  width: 30%;
  /* display: flex; */
  /* justify-content: space-evenly; */
}
.votingResult {
  width: 50%;
  height: 50%;
  font-size: 5rem;
}
.voteAvarage {
  position: relative;
  padding: 0;
  font-size: 3rem;
}

.voteAvarageText{
  color: teal;
  /* background-color: red; */
  position: absolute;
  top: 68%;
  left: 91%;
  z-index: 9999;
}

/* .vote:before {
    content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
    position: relative;
  } */



.description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* bottom: 0px; */
  height: 200px;
  font-size: 1rem;
  /* line-height: 1rem; */
  color: white;

}

.column1 {
  z-index: 0;
  margin-top: 7.25rem;
  padding-left: 4%;
  width: 25%;
  float: left;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tag {
  position: relative;
  background: powderblue;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 3px 8px;
  font-size: 1rem;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
  color: #000;
  height: max-content;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-left: 2.5rem;
  /* padding-top: 0.5rem; */
  margin-left: 1rem;
  width: 80%;
  float: left;
  font-size: 1.2rem;
  line-height: 2rem;
}


.company {
  height: 50%;
  width: 100%;
  /* height: 100%; */
  /* aspect-ratio: 1/1; */
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.cover {
  position: absolute;
  top: 14rem;
  left: 1.5rem;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 10%;
}


.img1Icon {
  position: absolute;
  height: 40%;
  width: 25%;
}

.img3 {
  width: 80%;
  height: 50%;
  position: absolute;
  z-index: 1;
  top: 18rem;
  left: 2.8rem;
  /* box-shadow: none !important; */
  /* display: none; */
  opacity: 0;
  /* visibility: hidden; */
}

img {
  transition: opacity 1s;
}

.mediaLink:hover .cover {
  opacity: 0.5;
  /* display: block; */
  /* opacity: 1; */
}

.mediaLink:hover .img3 {
  opacity: 1;
  /* display: block; */
}

.mediaLink:hover {
  /* box-shadow: inset 0 0 300px red !important;  */
}

/*star rating stuff via: https://codepen.io/jamesbarnett/pen/vlpkh/*/

fieldset, label {
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  /* float: left; */
  /* padding-left: 5rem; */
}

.trailer1 {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.trailer2 {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  /* display: none; */
}


.rating input {
  display: none;
}

.rating label:before {
  margin: 0.5rem;
  font-size: 0.8em;
  font-family: FontAwesome;
  content: "\f005";

}

.star {
  /* content: "\f089"; */
  /* position: absolute; */
  margin-top: 1rem;
}

label {
  color: #ddd;
  /* float: right;  */
}

/***** CSS Magic to Highlight Stars on Hover *****/


.link[data-tooltip] {
  position: relative;
}

.link[data-tooltip]::before,
.link[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}

.link[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}

.link[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

.link[data-tooltip]:hover::before,
.link[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/

/* top tooltip */
.link[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}

.link[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}