.imgReg {
    width: 5rem;
    height: 5rem;  
    margin-top: 1rem;
}


form div input {
    background-color: #aeccc6 !important;
    
    font-size: 1.5rem !important;
    font-weight: 900;
}

#btn {
    background-color: #25745c !important;
    border-color: #25745c !important;
    color: #fffdef !important;
}

#btn:hover {
    background-color: #fffdef !important;
    color: #25745c !important;
}